html, body {
  margin : 0%;
  width: 100vw;
  height: 100vh;
  background-color: #f7f5e6;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  background-color: #f7f5e6 !important;
}

.navbar .nav-item:hover {
  text-decoration: underline;
}

.kitch-cards {
  display : flex;
  justify-content: space-evenly;
}

.kitch-cards .card { 
  transition: transform 0.3s ease; 
}

.kitch-cards .card:hover {
  transform: translateY(-20px);
}

.card-body {
  background-color: #f7f5e6;
}

.card {
  margin-bottom: 2rem;
}

.first-line {
  border-bottom: 1px solid darkgrey;
}

footer p {
  font-size: 0.75rem;
  margin: 3px 0;
  color: grey;
}

footer image {
  padding: 2rem;
}
